<div class="container text">
    <div class="row">
      <div class="col-md-12 fh5co-heading">
        <h2>About Us</h2>
        <p> Component IT, founded by Serbian entrepreneur Mladen Petrović, has provided outsourced development services since 2016. We employ a skilled team of developers in Belgrade, Serbia, who are totally focused on delivering high quality software solutions which enable our customers to achieve their critical IT objectives.</p>

        <p>We work with partners in the UK and USA and we have a subsidiary company in Serbia. Our management team is multicultural, and many of them have worked with us for at least ten years. Their international experience gives us a huge advantage in understanding customers’ business requirements.</p>
        
        <p>We are uniquely positioned to provide what our customers need – complex software solutions to answer their requirements, delivered reliably on time, with excellent value for money. As well as our own staff, we also have access to a pool of software developers from our approved partners here in India.
        </p>
        <p>We have completed development projects for international clients in many market sectors, including market research, transport, test and measurement and manufacturing. </p>
      </div>
    </div>
</div>