<div class="fh5co-services">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Our pleasure to serve you</h2>
					<p>Fueled by our ingenuity, creativity, and passion, we're working to find new ways to make a positive impact on the world we share. </p>
                </div>
                
                
				<!-- <ng-container *ngFor="let employee of employees" >
                        <div class="col-md-4 text-center item-block">
                                <span class="icon"><img src="./assets/images/{{employee.picture}}" alt="{{employee.firstName}} {{employee.lastName}}" class="img-responsive"></span>
                                <h3>{{employee.firstName}} {{employee.lastName}}</h3>
                                <p>{{employee.biographyShort}}</p>
                                <p><a href="#" class="btn btn-primary with-arrow">Learn more <i class="icon-arrow-right"></i></a></p>
                            </div>       
				</ng-container> -->
				
				<div class="gallery">
						<ng-container *ngFor="let employee of employees" >
							<div class="">
								<span class=""><img src="./assets/images/{{employee.picture}}" alt="Free HTML5 Templates" class="" width="100" height="100"></span>
								<h3>{{employee.firstName}} {{employee.lastName}}</h3>
								<p class="biography">{{employee.biographyShort}}</p>
								<p><a href="#" class="btn btn-primary with-arrow">Read more <i class="icon-arrow-right"></i></a></p>
							</div>
						</ng-container>
				</div>



				<!-- <div class="col-md-4 text-center item-block animate-box">
					<span class="icon"><img src="./assets/images/bill-gates.jpg" alt="Free HTML5 Templates" class="img-responsive"></span>
					<h3>Strategy</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
					<p><a href="#" class="btn btn-primary with-arrow">Learn more <i class="icon-arrow-right"></i></a></p>
				</div>
				<div class="col-md-4 text-center item-block animate-box">
					<span class="icon"><img src="./assets/images/uncle-bob.jpg" alt="Free HTML5 Templates" class="img-responsive"></span>
					<h3>Explore</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
					<p><a href="#" class="btn btn-primary with-arrow">Learn more <i class="icon-arrow-right"></i></a></p>
				</div>
				<div class="col-md-4 text-center item-block animate-box">
					<span class="icon"><img src="./assets/images/mark-zuckerberg.jpg" alt="Free HTML5 Templates" class="img-responsive"></span>
					<h3>Expertise</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
					<p><a href="#" class="btn btn-primary with-arrow">Learn more <i class="icon-arrow-right"></i></a></p>
				</div>

				<div class="col-md-4 text-center item-block animate-box">
					<span class="icon"><img src="./assets/images/anders-hejlsberg.jpg" alt="Free HTML5 Templates" class="img-responsive"></span>
					<h3>Strategy</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
					<p><a href="#" class="btn btn-primary with-arrow">Learn more <i class="icon-arrow-right"></i></a></p>
				</div>
				<div class="col-md-4 text-center item-block animate-box">
					<span class="icon"><img src="./assets/images/elon-musk.png" alt="Free HTML5 Templates" class="img-responsive"></span>
					<h3>{{time}}</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
					<p><a href="#" class="btn btn-primary with-arrow">Learn more <i class="icon-arrow-right"></i></a></p>
				</div> -->
				
			</div>
		</div>
	</div>